.action {
    padding: 65px 0;
    // .action__wrapper

    &__wrapper {
        h2 {
            margin-bottom: 105px;
        }
        .button {
            width: 460px;
            height: 58px;
            margin: 85px auto 0;
        }
    }

    // .action__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    // .action__item

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;
        max-width: 362px;
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        padding: 40px 0 0 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: start;
        p {
            width: 100%;
            padding: 0 30px;
            margin-bottom: 30px;
        }
        img {
            margin-top: 20px;
            width: 210px;
            height: auto;
        }
    }
    &__list-bottom {
        margin-top: 65px;
        .action__item {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            min-width: 558px;
            img {
                width: 260px;
                height: auto;
                filter: drop-shadow(-4px 0px 4px rgba(0, 0, 0, 0.25));
                border-radius: 30px 0 0 30px;
            }
        }
    }
    &__item-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
@media (max-width: 1200px) {
    .action {
        &__list {
            gap: 3%;
        }
        // .action__item

        &__item {
            max-width: 30%;
        }
        &__list-bottom {
            flex-direction: column;
            align-items: center;
            gap: 30px;
            .action__item {
                min-width: 60%;
            }
        }
    }
}
@media (max-width: 1024px) {
    .action {
        &__list {
            gap: 30px 5%;
        }
        &__item {
            max-width: 40%;
        }
    }
}
@media (max-width: 768px) {
    .action {
        padding: 6.944vw 0;
        // .action__wrapper

        &__wrapper {
            h2 {
                margin-bottom: 7vw;
            }
            .button {
                width: 100%;
                height: 16.111vw;
                margin: 11.111vw auto 0;
            }
        }

        // .action__list

        &__list {
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: nowrap;
            gap: 8.556vw;
        }
        // .action__item

        &__item {
            max-width: 100%;
            box-shadow: 0px 1.111vw 1.111vw rgba(0, 0, 0, 0.25);
            border-radius: 4.167vw;
            padding: 5.556vw 0 0 0;
            font-size: 5.556vw;
            line-height: 1.2em;
            p {
                padding: 0 3.556vw;
                margin-bottom: 5.167vw;
            }
            img {
                margin-top: 7vw;
                width: 70vw;
            }
        }
        &__list-bottom {
            margin-top: 11.111vw;
            .action__item {
                min-width: 0;
                width: 100%;
                align-items: flex-start;
                img {
                    width: 50vw;
                    filter: drop-shadow(-1.111vw 0px 1.111vw rgba(0, 0, 0, 0.25));
                    border-radius: 8.333vw 0 0 8.333vw;
                }
            }
        }
    }
}
