.doctors {
    padding: 60px 0 85px;
    h2 {
        margin-bottom: 105px;
    }
    // .doctors__wrapper

    &__wrapper {
        display: flex;
        column-gap: 130px;
    }

    // .doctors__info

    &__info {
        width: 557px;
        p {
            margin-bottom: 40px;
        }
    }
    img {
        width: 557px;
        height: 332px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 15px;
    }

    // .doctors__slider

    &__slider {
        position: relative;
        .swiper {
            width: 100%;
            height: 100%;
        }
        .swiper-wrapper {
            width: 362px;
            height: 570px;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .swiper-button-next {
            right: -55px;
        }
        .swiper-button-prev {
            left: -55px;
        }
    }
}
@media (max-width: 1200px) {
    .doctors {
        &__wrapper {
            column-gap: 10vw;
        }
        &__slider {
            height: 100%;
            .swiper-wrapper {
                width: 30vw;
                height: 100%;
            }
        }
        &__info {
            width: 50vw;
        }
        img {
            width: 50vw;
            height: auto;
        }
    }
}
@media (max-width: 768px) {
    .doctors {
        padding: 8.333vw 0 11.111vw;
        h2 {
            margin-bottom: 8.33vw;
        }
        // .doctors__wrapper

        &__wrapper {
            flex-direction: column;
            gap: 8.333vw 0;
        }

        // .doctors__info

        &__info {
            width: 100%;
            p {
                margin-bottom: 0;
            }
        }
        img {
            display: none;
        }

        // .doctors__slider

        &__slider {
            .swiper {
                width: 70%;
                height: 100%;
            }
            .swiper-wrapper {
                width: 100%;
                height: auto;
            }
            .swiper-slide {
                font-size: 5vw;
            }
            .swiper-button-next {
                right: 0;
            }
            .swiper-button-prev {
                left: 0;
            }
        }
    }
}
