.firstscreen {
    position: relative;
    background-image: url(./../image/firstscreen/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 112px 0 0 0;
    // .firstscreen__wrapper

    &__wrapper {
        display: flex;
        column-gap: 30px;
        height: 100%;
        max-height: 700px;
        justify-content: space-between;
    }
    // .firstscreen__info

    &__info {
        z-index: 1;
        h1 {
            margin-bottom: 25px;
            transform: translateX(100%);
            opacity: 0;
        }
        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 25px;
            transform: translateX(100%);
            opacity: 0;
        }
        .button {
            width: 460px;
            margin-top: 5px;
        }
    }
    &__swiper-info {
        margin-top: 45px;
        width: 640px;
        height: auto;
    }
    .swiper-slide:first-child {
        animation: none !important;
        h1 {
            opacity: 1 !important;
            transform: translateX(0) !important;
        }
        p {
            opacity: 1 !important;
            transform: translateX(0) !important;
        }
    }
    .swiper-slide-active {
        h1 {
            animation: animTextSlide 1s ease-out forwards;
            opacity: 1;
        }
        p {
            animation: animTextSlide 1s ease-out forwards;
            animation-delay: 0.4s;
            opacity: 1;
        }
        p:last-child {
            animation-delay: 0.8s;
        }
    }
    @keyframes animTextSlide {
        0% {
            transform: translateX(
                100%
            ); /* начальная позиция справа за экраном */
        }
        40% {
            transform: translateX(-20px); /* отскок 1 влево */
        }
        50% {
            transform: translateX(10px); /* отскок 2 вправо */
        }
        75% {
            transform: translateX(-5px); /* отскок 3 влево */
        }
        100% {
            transform: translateX(0); /* конечная позиция слева */
        }
    }
    &__slider {
        position: relative;
        z-index: 1;
    }
    &__swiper-image {
        width: 475px;
        height: 100%;
    }
    .swiper::selection {
        color: none;
        background: none;
    }
    .swiper-slide img::selection {
        color: none;
        background: none;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .swiper-button-next,
    .swiper-button-prev {
        bottom: 25px;
        left: 0;
        top: auto;
        right: auto;
        transform: translateX(-70px);
        margin: 0;
        padding: 0;
        background: rgba(95, 81, 177, 0.5);
        border-radius: 5px;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
        width: 40px;
        height: 40px;
        opacity: 1 !important;
    }
    .swiper-button-next {
        left: 47px;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        color: white;
        font-size: 15px;
    }
    .swiper-button-disabled {
        background: rgba(123, 123, 123, 0.5);
    }
}
.firstscreen::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 26vw;
    height: 17vw;
    background-image: url(./../image/firstscreen/tools.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@media (max-width: 1200px) {
    .firstscreen {
        &__info {
            width: 50vw;
            h1,
            p {
                width: 50vw;
            }
        }
        &__swiper-info {
            max-width: 640px;
            width: 100%;
            margin-top: 7vw;
        }
        &__swiper-image {
            max-width: 40vw;
            width: 100%;
            height: 100%;
        }
    }
}
@media (max-width: 1025px) {
    .firstscreen {
        &__info {
            max-width: none;
            width: 55vw;
            h1,
            p {
                width: 100%;
            }
        }
        &__swiper-info {
            max-width: 100%;
            width: 100%;
            margin-top: 3vw;
        }
        &__swiper-image {
            height: auto;
        }
        &__slider {
            display: flex;
            align-items: center;
            position: relative;
        }
        &__info .button {
            width: 100%;
        }
        .swiper-button-next,
        .swiper-button-prev {
            bottom: 25px;
            left: auto;
            right: 0;
        }
        .swiper-button-next {
            left: auto;
            right: -47px;
        }
    }
}
@media (max-width: 769px) {
    .firstscreen {
        height: auto;
        padding-top: 18.056vw;
        &__wrapper {
            column-gap: 0;
            row-gap: 8.333vw;
            height: 100%;
            max-height: none;
            padding-top: 5vw;
            flex-direction: column;
        }
        &__info {
            max-width: none;
            width: 100%;
            h1,
            p {
                width: 100%;
            }
            h1 {
                font-size: 7.3vw;
                line-height: 1.21em;
                margin-bottom: 25px;
                transform: translateX(100%);
                span {
                    line-height: 1.21em;
                }
            }
            p {
                font-size: 5.556vw;
                font-weight: 400;
                line-height: 6.667vw;
                margin-bottom: 6.944vw;
                transform: translateX(100%);
            }
            .button {
                width: 100%;
                margin-top: 1.389vw;
            }
        }
        &__swiper-info {
            max-width: 100%;
            width: 100%;
            margin-top: 0;
        }
        &__slider {
            width: 100%;
        }
        &__swiper-image {
            max-width: none;
            width: 100%;
            height: auto;
        }
        .swiper-button-next,
        .swiper-button-prev {
            bottom: 5vw;
            right: auto;
            left: 50%;
            transform: translateX(calc(-50% - 7.5vw));
            width: 11.111vw;
            height: 11.111vw;
            opacity: 1 !important;
        }
        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: 7vw;
        }
        .swiper-button-next {
            right: auto;
            left: calc(15.111vw + 50%);
        }
    }
    .firstscreen::before {
        content: "";
        display: none;
    }
}
