.steps {
    padding: 105px 0 72px;

    h2 {
        text-align: center;
        margin-bottom: 80px;
    }
    // .steps__wrapper

    &__wrapper {
        position: relative;
        display: flex;
        column-gap: 70px;
    }

    // .steps__list

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 33px;
        max-width: 520px;
    }
    &__item {
        p {
            margin-top: 30px;
        }
    }
    // .steps__title

    &__title {
        display: flex;
        img {
            width: 80px;
            height: 80px;
        }
        h3 {
            display: inline-block;
            margin: 20px 0 0 27px;
            font-size: 20px;
        }
    }

    // .steps__image

    &__image {
        display: flex;
        flex-direction: column;
        row-gap: 28px;
        img {
            border-radius: 15px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            object-fit: cover;
        }
    }
}
@media (max-width: 1024px) {
    .steps {
        &__wrapper {
            flex-direction: column;
            gap: 50px 0;
        }
        &__list {
            max-width: 100%;
        }
        &__image {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0 30px;
            img {
                width: 40%;
                height: auto;
            }
        }
    }
}
@media (max-width: 768px) {
    .steps {
        padding: 11.111vw 0 5.556vw;
        h2 {
            text-align: center;
            margin-bottom: 8.333vw;
        }
        // .steps__wrapper

        &__wrapper {
            gap: 0;
        }

        // .steps__list

        &__list {
            row-gap: 5.556vw;
        }
        &__item {
            p {
                margin-top: 1.389vw;
            }
        }
        // .steps__title

        &__title {
            align-items: center;
            img {
                width: 17vw;
                height: 17vw;
            }
            h3 {
                margin: 0 0 0 4.167vw;
                font-size: 5vw;
            }
        }
        &__image {
            display: none;
        }
    }
}
