.work {
    padding: 65px 0;
    // .work__wrapper

    &__wrapper {
        h2 {
            margin-bottom: 90px;
        }
    }

    // .work__slider

    &__slider {
        position: relative;
        max-width: 65vw;
        margin: 0 auto;
        .swiper {
            width: 80%;
            height: 100%;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            padding: 8px;
        }
        .swiper-button-next {
            right: 0px;
        }
        .swiper-button-prev {
            left: 0px;
        }
    }
}
@media (max-width: 768px) {
    .work {
        padding: 8.333vw 0;
        // .work__wrapper

        &__wrapper {
            h2 {
                margin-bottom: 8.333vw;
            }
        }

        // .work__slider

        &__slider {
            max-width: 100%;
            .swiper {
                width: 70%;
            }
            .swiper-slide img {
                border-radius: 8.333vw;
                filter: drop-shadow(0px 1.111vw 1.111vw rgba(0, 0, 0, 0.25));
                padding: 2.2vw;
            }
        }
    }
}
