* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: "Rubik";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
    background-color: transparent;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 700;
}
h1 {
    font-size: 36px;
    line-height: 43px;
    color: #353535;
}
.container {
    max-width: 1186px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    flex: 0 0 auto;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.button {
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.25);
    filter: drop-shadow(0px 0px 10px #8c7cec);
    color: white;
    font-size: 16px;
    line-height: 19px;
    padding: 20px 50px;
    background: linear-gradient(266.49deg, #8c7cec -17.78%, #090041 117.13%);
    border-radius: 50px;
    background-size: 150% 150%;
}
.button:hover {
    animation: animBtn 2s ease-in-out infinite;
}
@keyframes animBtn {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@media (max-width: 769px) {
    .button {
        box-shadow: inset 0px 0px 1.389vw rgba(255, 255, 255, 0.25);
        filter: drop-shadow(0px 0px 2.778vw #8c7cec);
        font-size: 3.7vw;
        line-height: 1.3em;
        padding: 5vw 2vw;
        border-radius: 13.889vw;
    }
}
