* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 1.2em;
    font-family: "Rubik";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
    background-color: transparent;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
a,
p,
li {
    line-height: 1.2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 700;
    line-height: 1.2em;
}
h1 {
    font-size: 36px;
    color: #353535;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 20px;
}
.container {
    max-width: 1186px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    flex: 0 0 auto;
}
.main {
    flex: 1 0 auto;
    background: rgb(233, 250, 255);
    background: linear-gradient(
        180deg,
        rgba(233, 250, 255, 1) 0%,
        rgba(251, 254, 254, 1) 60%,
        rgba(233, 250, 255, 1) 100%
    );
}
.footer {
    flex: 0 0 auto;
}
.button {
    display: block;
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.25);
    filter: drop-shadow(0px 0px 10px #8c7cec);
    color: white;
    font-size: 16px;
    line-height: 19px;
    padding: 20px 50px;
    background: linear-gradient(266.49deg, #8c7cec -17.78%, #090041 117.13%);
    border-radius: 50px;
    background-size: 150% 150%;
}
.button:hover {
    animation: animBtn 2s ease-in-out infinite;
}
.text-fill {
    position: relative;
    white-space: nowrap;
    margin-right: 5px;
}
.text-fill::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    color: #5f51b1;
    overflow: hidden;
}
.text-fill.active::before {
    animation: animText 1.3s linear forwards 0.3s;
}
@keyframes animText {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes animBtn {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@media (max-width: 769px) {
    body {
        font-size: 3.889vw;
    }
    h1 {
        font-size: 8vw;
    }
    h2 {
        font-size: 7vw;
    }
    h3 {
        font-size: 5vw;
    }
    .container {
        padding: 0 5vw;
    }
    .button {
        box-shadow: inset 0px 0px 1.389vw rgba(255, 255, 255, 0.25);
        filter: drop-shadow(0px 0px 2.778vw #8c7cec);
        font-size: 3.7vw;
        line-height: 1.2em;
        padding: 5vw 2vw;
        border-radius: 13.889vw;
    }
}
